/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {}


/******************************************
/* LAYOUT
/*******************************************/
header {}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#calculator {
     border-radius: 25px;
     background: #000;
     padding: 20px;
     width: 600px;
     height: 900px;
}

td {
     color: white;
}